@model Gopnik_Hotel.ViewModels.BoekingViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Boeking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kamer.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kamer.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klant.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klant.Naam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.BoekingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
